/* ---reseteo--- */

*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}


$color-principal: rgba(160, 4, 38, 0.884);
$color-negro: black;
$color-blanco: white;
$color-blanco-opaco: rgb(204, 198, 198);
$color-rojo: red;

h3{
    font-size: 1.2rem;
}

.nav{
    display: flex;
    justify-content: end;
}

@mixin footer{
        display: flex;
        justify-content: center;
}

@mixin cards{
    display: flex;
    justify-content: start;
}

@mixin background{
    background-color: $color-principal;
    background: linear-gradient(90deg, rgba(65,16,16,1) 0%, rgba(160,4,38,1) 50%, rgba(65,16,16,1) 100%);
}