.footer{
    @include background;
    @include footer;

    &__logo{
        @include footer;
        padding: 30px;

        img{
            width: 200px;
        }
    }

    &__cuerpo{
        @include footer;
        align-items: center;

        & ul li a{
            color: $color-blanco-opaco;
        }
    }

    &__pie{
        border-top: solid $color-negro 1px;

        & p{
            color: $color-blanco-opaco;
        }
    }
}
