.header{
    @include background;

    position: sticky;
    top: 0;
    z-index: 1;

    &__titulo{
        color: $color-blanco;
    }

    &__cuerpo .nav ul li .nav-link{
        color: $color-blanco-opaco;
    }

}